@charset "UTF-8";

body{
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(34, 85, 136);
}

h1#principal{
    text-align: center;
    background-color: mediumaquamarine;
    color: white;
}

h2{
    color: rgb(112, 150, 189);
}

.basico{
    color: rgb(112, 150, 189);
}
.intermediario{
    color: rgb(188, 189, 112);;
}

.avancado{
    color: rgb(189, 121, 112);
}

.destaque{
    background-color: rgb(255, 255, 0);
}